<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">KA Language Progress Report</h1>
      </div>
      <div class="modal-body">
        The KA Language Progess report shows progress the Internationalization initiavies have made to full-fill the <a href="https://docs.google.com/document/d/12xylj_z3BbjMF57WdXJ2Mjr2DduhD5FiVKgb5GQBfvs/edit">Milestones</a> (Test,Live,Rockstar) they are tracking.
        Criterias are defined in <a href="https://docs.google.com/document/d/12xylj_z3BbjMF57WdXJ2Mjr2DduhD5FiVKgb5GQBfvs/edit">Translations milestones (lite, test / alpha, live / beta)</a>.
        <p/>
        <h1>Crowdin</h1>
        Crowdin Progress lists all translation files (.po) required for the specified target. All required with 100% translation status are hidden.
        <h1>Missing Videos</h1>
        Lists all KA Subjects where dubbing of Videos is required.<p/>
        <h1>Missing Subtitles</h1>
        Lists all KA Subject where subtitles for videos are required and dubbing is not mandatory but optional.<p/>
        to be improved....
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>